#slider .thumb{position:absolute;}
#slider a{color:#FF9;}
#slider a:hover{color:#cc151e;}
/*#slider .thumb .bottom{position:absolute; top:202px; padding:15px; max-height:10px; min-height:10px; width:350px;
background: url(http://media.lpgenerator.ru/images/157195/strelkapravo_3ffkacx.png) repeat-x bottom;}*/